body
  padding-top 60px
  padding-bottom 80px
  background-color #101010

.navbar-right .navbar-form
  input
    margin-right 20px
  a.btn
    margin-left 20px

.pull-right
  button
    margin-right 5px

.toast-top-right
  top 120px

h2
  margin 0
  color #666
  padding-top 90px
  font-size 52px
  font-family "trebuchet ms", sans-serif

.item
  background #333
  text-align center
  height 300px !important

.carousel
  margin-top 20px

.bs-example
  margin 20px

.icon
  width 13%
  height 13%

table thead tr th
  text-align center

.col-product
  margin-right 10px

.image-container img
  width 100%

table tbody tr td a.btn-lg
  padding 10px 6px

#loadingmsg
  color: black;
  background: #fff;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 48%;
  z-index: 100;
  border-radius: 5px;
  margin-left: -5%;
  margin-right: -25%;
  margin-bottom: -25%;

#loadingover
  background: black;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha opacity 80;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;

.pointer
  cursor pointer

span#page
  background-color transparent
  border none

.shopping-list-item-image
  width 80px

ul
  list-style-type  none

.ct-product-image
  width 100px
  height 100px

.quantity-slider

  input
    cursor pointer

.dropdown-menu
  min-width 230px

.home-page
  margin-top -10px
  height 2810px
  background-position center
  background-repeat no-repeat
  background-attachment scroll
  background-image url('../images/background/background.png')!important

#home-page-login
  display block
  margin 0 auto
  margin-top 395px
  background-image url('../images/background/login.png')!important
  width 202px
  height 37px
  border 0
  border-radius 18px
  box-shadow: 0px 3px 5px #000;

#home-page-register
  display block
  margin 0 auto
  margin-top 11px
  background-image url('../images/background/register.png')!important
  width 202px
  height 37px
  border 0
  border-radius 18px
  box-shadow: 0px 3px 5px #000;

#home-page-learn
  display block
  margin 0 auto
  margin-top 249px
  background-image url('../images/background/learn.png')!important
  width 162px
  height 81px
  border 0
  border-top-left-radius 125px
  border-top-right-radius 125px
  box-shadow: 0px -3px 5px #000;

#home-page-join-us
  display block
  margin 0 auto
  margin-top 1800px
  background-image url('../images/background/join-us.png')!important
  width 202px
  height 37px
  border 0
  border-radius 18px
  box-shadow: 0px 3px 5px #000;


#home-page-learn-container
  height 0
  margin 0

.content-background
  background-color #242424;

.active-list-item
  background-color #fd6910
  color #ffffff

.panel-content
  color #d6ee1a

.table-striped>tbody>tr:nth-child(odd)>td
  background-color #242424

.table-striped>tbody>tr:nth-child(odd)>th
  background-color #242424

