body {
  padding-top: 120px;
}
.navbar-right .navbar-form input {
  margin-right: 20px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 20px;
}
footer {
  margin-top: 50px;
}
.pull-right button {
  margin-right: 20px;
}
