.container
    .panel.panel-success.content-background(ng-show="isLogged")
        .panel-heading
            .panel-title
                | Shopping list
        .panel-body
            ul
                li(ng-repeat="product in shoppingList.products")
                    .well
                        .row
                            .col-md-4.image-container.shopping-list-item-image
                                img.img-thumbnail(src="{{product.image}}")
                            .col-md-8
                                h4 {{product.name}}
                                h5 {{product.categoryName}}
                                h5 {{product.quantity}} {{product.unit}}
    a.btn.btn-success(href="#/", ng-click="addListToFridge()") Add to fridge