.container
    row.col-md-3
    row.col-md-6
        table.table.text-center.table-hover.table-striped
            thead
                tr
                    th Username
                    th Roles
            tbody
                tr(ng-repeat="user in users")
                    td {{ user.username }}
                    td {{ user.roles }}