.container
    .row(ng-show="isLogged")
        .col-md-8
            .row
                .jumbotron.col-md-3.text-center.col-product(ng-repeat="product in catalogProducts")
                    a(href="#/products/{{product._id}}")
                        .image-container.col-md-12
                            img.img-thumbnail(src="{{product.image}}", alt="no picture")
                        div {{product.name}}