.container
    .row
        .jumbotron.col-md-8(ng-show="isLogged")
            .row
                .col-md-4
                    .image-container
                        img.img-thumbnail(src="{{product.image}}")
                .col-md-8
                    h2
                        | {{product.name}}
                    .row
                        strong.col-md-8.text-left Category
                        .col-md-4.text-right {{product.categoryName}}
                    .row
                        strong.col-md-8.text-left Unit type
                        .col-md-4.text-right {{product.categoryName}}
                    .row
                        strong.col-md-8.text-left Avarage freshnes
                        .col-md-4.text-right {{product.lifetime}} days