.container
    .row(ng-show="isLogged")
        .col-md-8
            .row
                .jumbotron.col-md-3.text-center.col-product(ng-repeat="product in catalogProducts")
                    a(href="#/products/{{product._id}}")
                        img(src="url", alt="no picture")
                        div {{product.name}}