.container
    .row
        .col-md-12
            h1.panel-content
                | Product Categories
    row.col-md-3
    row.col-md-6
        table.table.text-center.table-striped.panel-content
            thead
                tr
                    th Name
                    th Options
            tbody
                tr(ng-repeat="category in categories")
                    td {{ category.name }}
                    td
                        a.btn-lg(title="Edit")
                            span.glyphicon.glyphicon-edit