script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js")
script(type="text/javascript" src="/lib/everlive/min/everlive.all.min.js")

script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js")

script(type="text/javascript" src="/lib/toastr/toastr.js")

script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mainCtrl.js")

script(type="text/javascript" src="/app/services/everliveService.js")
script(type="text/javascript" src="/app/services/yourFoodData.js")

script(type="text/javascript" src="/app/account/loginCtrl.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/services/identity.js")
script(type="text/javascript" src="/app/account/services/auth.js")
script(type="text/javascript" src="/app/account/services/usersResource.js")

script(type="text/javascript" src="/app/admin/users/ListUsersController.js")
script(type="text/javascript" src="/app/admin/products/CreateCatalogProductController.js")
script(type="text/javascript" src="/app/admin/products/CreateProductCategoryController.js")
script(type="text/javascript" src="/app/admin/products/ListProductCategoriesController.js")
script(type="text/javascript" src="/app/admin/recipes/CreateRecipeCategoryController.js")
script(type="text/javascript" src="/app/admin/recipes/CreateRecipeController.js")
script(type="text/javascript" src="/app/admin/recipes/ListRecipeCategoriesController.js")

script(type="text/javascript" src="/app/directives/fileread.js")

script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/app/common/utility.js")

script(type="text/javascript" src="/app/products/productsController.js")

script(type="text/javascript" src="/app/recipes/recipesCtrl.js")
script(type="text/javascript" src="/app/recipes/recipeDetailsCtrl.js")
script(type="text/javascript" src="/app/recipes/services/recipesData.js")
