.container
    .jumbotron(ng-show="isLogged")
        .row
            .col-md-6.text-center
                .image-container
                    img(src="{{recipe.image}}", alt="no image")
            .col-md-6
                h1.top
                    | {{recipe.category.name}}
                h2
                    | {{recipe.name}}
                h2
                    | Products
                h4(ng-repeat="product in recipe.products") {{product.name}}

        br
        .row.text-center
            .col-lg-12
                | {{recipe.description}}