.container
    .jumbotron(ng-show="isLogged")
        .row
            .col-md-5.text-center
                .image-container
                    img(src="{{recipe.image}}", alt="no image")
            .col-md-7
                h3.toast-title
                    | {{recipe.name}}
                br
                h4
                    strong Category: {{recipe.categoryName}}
                br
                h4
                    | Products:
                    a.btn.btn-danger.pull-right(ng-click="showProducts = !showProducts")
                        | Show
                div(ng-show="showProducts")
                    h5(ng-repeat="product in recipe.products") {{product.name}}
        .row.text-center
            .col-lg-12
                h3
                    | Description:
                | {{recipe.description}}