.container
    .jumbotron(ng-show="isLogged")
        .row
            .col-md-6.text-center
                | Snimka tuka trqbva... :)
            .col-md-6
                h2
                    | {{recipe.category.name}}
                h2
                    | {{recipe.name}}
                h2
                    | Products
                h4(ng-repeat="product in recipe.products") {{product.name}}

        br
        .row.text-center
            .col-lg-12
                | {{recipe.description}}