.container
    .well
        form.form-horizontal(name="logingForm")
            fieldset
                legend Login Form
                .form-group
                    label.col-md-2.control-label(for="username") Username:
                    .col-md-10
                        input#username.form-control(type="text", placeholder="username", ng-model="user.username", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password:
                    .col-md-10
                        input#password.form-control(type="password", placeholder="password", ng-model="user.password", required)
                .pull-right
                    button.btn.btn-primary(ng-click="login(user)", ng-disabled="logingForm.$invalid") Login
                    a.btn.btn-danger(href="#/") Cancel
