.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                legend Update profile
                .form-group
                    label.col-md-2.control-label(for="first-name") First name
                    .col-md-10
                        input#first-name.form-control(type="text", placeholder="First name", ng-model="user.firstName", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Last name
                    .col-md-10
                        input#last-name.form-control(type="text", placeholder="Last name", ng-model="user.lastName", required)
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input#last-name.form-control(type="text", placeholder="Email", ng-model="user.email", required)
                .pull-right
                    button.btn.btn-primary(ng-click="updateInformation(user)", ng-disabled="profileForm.$invalid") Update
                    a.btn.btn-primary(href="/") Cancel

        form.form-horizontal(name="passwordForm")
            fieldset
                legend Update password
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input#password.form-control(type="password", placeholder="Password", ng-model="password.password")
                .form-group
                    label.col-md-2.control-label(for="confimrPassword") Password
                    .col-md-10
                        input#password.form-control(type="confimrPassword", placeholder="Confirm Password", ng-model="password.confirmPassword")

                .pull-right
                    button.btn.btn-primary(ng-click="updatePassword(password)", ng-disabled="passwordForm.$invalid") Update Password
                    a.btn.btn-primary(href="/") Cancel