.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                legend Update profile
                .form-group
                    label.col-md-2.control-label(for="first-name") First name
                    .col-md-10
                        input#first-name.form-control(type="text", placeholder="First name", ng-model="user.firstName", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Last name
                    .col-md-10
                        input#last-name.form-control(type="text", placeholder="Last name", ng-model="user.lastName", required)
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input#email.form-control(type="email", placeholder="Email", ng-model="user.email", required)
                .pull-right
                    button.btn.btn-success(ng-click="updateInformation(user)", ng-disabled="profileForm.$pristine || profileForm.$invalid") Update
                    a.btn.btn-danger(href="#/") Cancel
    .well
        form.form-horizontal(name="passwordForm")
            fieldset
                legend Update password
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input#password.form-control(type="password", placeholder="Password", ng-model="newPassword.password")
                .form-group
                    label.col-md-2.control-label(for="confirmPassword") Confirm Password
                    .col-md-10
                        input#confirmPassword.form-control(type="password", placeholder="Confirm Password", ng-model="newPassword.confirmPassword")

                .pull-right
                    button.btn.btn-success(ng-click="updatePassword(newPassword)", ng-disabled="passwordForm.$pristine || passwordForm.$invalid || newPassword.password != newPassword.confirmPassword") Update Password
                    a.btn.btn-danger(href="#/") Cancel