.container
    .well
        form.form-horizontal(name="signUpForm")
            fieldset
                legend Sign Up Form
                .form-group
                    label.col-md-2.control-label(for="first-name") First name
                    .col-md-10
                        input#first-name.form-control(type="text", placeholder="First name", ng-model="user.firstName", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Last name
                    .col-md-10
                        input#last-name.form-control(type="text", placeholder="Last name", ng-model="user.lastName", required)
                .form-group
                    label.col-md-2.control-label(for="username") Username
                    .col-md-10
                        input#username.form-control(type="text", placeholder="Username", ng-model="user.username", required)
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input#email.form-control(type="text", placeholder="Email", ng-model="user.email", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input#password.form-control(type="password", placeholder="Password", ng-model="user.password", required)
                .pull-right
                    button.btn.btn-primary(ng-click="signup(user)", ng-disabled="signUpForm.$invalid") Create
                    a.btn.btn-primary(href="/") Cancel