#navbar-main.collapse.navbar-collapse(ng-controller="LoginCtrl")
    ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
        li
            a(href="#/login") Login
        li
            a(href="#/signup") Sign Up
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a#dropdownMenu1.dropdown-toggle(href="#")
                | {{ identity.currentUser().firstName + " " + identity.currentUser().lastName }}&nbsp;
                span.caret
            ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/recipes/create") Create Recipe
                        img.icon.pull-right(src="images/icons/recipe.png")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/recipes/categories") Recipe Categories
                        img.icon.pull-right(src="images/icons/categories.png")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/recipes/categories/create") Create Recipe Category
                        img.icon.pull-right(src="images/icons/create-recipe-category.png")
                li.divider(ng-show="identity.isAdmin()")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/products/create") Create Catalog Product
                        img.icon.pull-right(src="images/icons/apple.png")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/products/categories") Product Categories
                        img.icon.pull-right(src="images/icons/products-categories.png")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/products/categories/create") Create Product Category
                        img.icon.pull-right(src="images/icons/create-product-category.png")
                li.divider(ng-show="identity.isAdmin()")
                li(ng-show="identity.isAdmin()")
                    a(href="#/admin/users") Users
                        img.icon.pull-right(src="images/icons/users.png")
                li.divider(ng-show="identity.isAdmin()")
                li(ng-show="identity.isAuthenticated()")
                    a(href="#/profile") Profile
                        img.icon.pull-right(src="images/icons/settings.png")
                li
                    a(href="#", ng-click="logout()") Sign out
                        img.icon.pull-right(src="images/icons/logout.png")