.container.home-page
    a#home-page-login(href="#/login")
    a#home-page-register(href="#/signup")
    button#home-page-learn(ng-click="scrollToLearn()")
    div#home-page-learn-container
    a#home-page-join-us(href="#/login")
