.container
    .jumbotron
        h1
            | YourFood Hackathon
        h2
            | Work in progess... expect more
    .row
        .col-lg-12
            .panel.panel-success
                .panel-heading.text-center
                    | Content