.container
    .well.well-lg
        form.form-horizontal(name="createCategoryForm", method="POST", enctype='multipart/form-data')
            fieldset
                legend Create a new recipe category
                .form-group
                    label.col-md-2.control-label(for="category-name") Name
                    .col-md-10
                        input#category-name.form-control(type="text", placeholder="Name", ng-model="category.name", required)
                .pull-right.create-vote-btn-container
                    button.btn.btn-primary(ng-click="createCategory(category)", ng-disabled="createCategoryForm.$invalid") Create
                    a.btn.btn-primary(href="#/") Cancel