.container
    .row
        .col-md-12
            h1
                | Recipe Categories
    .row
        .col-md-1
        .col-md-10
            div#grid
    //
    //row.col-md-3
    //row.col-md-6
    //    table.table.text-center.table-hover.table-striped
    //        thead
    //            tr
    //                th Name
    //                th Options
    //        tbody
    //            tr(ng-repeat="category in categories")
    //                td {{ category.name }}
    //                td
    //                    a.btn-lg(title="Edit")
    //                        span.glyphicon.glyphicon-edit
    //
    script(src="app/admin/recipes/grid.js")